.btn-success {
    background-color: #0288d1 !important;
    border-color: #0288d1 !important;
}
.btn-success:hover {
    background-color: #0277bd !important;
    border-color: #0277bd !important;
}
